<!DOCTYPE html>

<html>
  <head>
    <title>Poker Game</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
  </head>
  <body>
    <div id="main-content"></div>
    <script src="@routes.Assets.at("javascripts/main-bundle.js")" type="text/javascript"></script>
  </body>
</html>
